*{margin:0;padding:0}
a{
  color:#0196e3;
  text-decoration:none;
  margin-left:5px;
}
a:hover{
  text-decoration:underline;
}
body{
  background:#F2F2F2;
}
header{
  margin-top:30px; 
  text-align:center;
}
header > h1,
header > h2{
  color:#444444;
  font-size:42px;
  font-weight:normal;
}
header > h2{font-weight:bold;}
header > p.linkContent{
  margin:5px 0 20px 0;
}
main{
  width:920px;
  margin:0 auto;
  overflow:hidden;
  box-shadow:0px 0px 4px 3px rgba(0,0,0,0.13);
}
main > .slideBox{
  display:flex;
  transition:transform .3s;
}
main > .slideBox > .slidePic{
  cursor:pointer;
}
main > .iconBox{
  display:flex;
  justify-content:center;
  width:100%;
  margin-top:-6px;
  border:1px solid #fff;
}
main > .iconBox > .iconBtn{
  width:60px;
  height:45px;
  line-height:45px;
  text-align:center;
  margin:0 1px;
  box-shadow:0px 0px 0px 1px rgba(0,0,0,0.13);
  background: linear-gradient(to bottom, #1e5799 0%,#ffffff 0%,#e8e8e8 100%,#7db9e8 100%);
  cursor:pointer;
}
main > .iconBox > .iconBtn.active{
  background-image:url('../img/active_bg.png')
}
main > .iconBox > .iconBtn > img{
  vertical-align:middle;
}
footer{
  padding:10px;
  height:60px;
  margin-top:20px;
  text-align:center;
  font-size:14px;
}
