*{margin:0;padding:0;}
h1{ color:#0078D9; text-align: center; margin:40px 0; }
.window{ 
  width:1280px;
  height:720px;
  margin:10px auto;
  position:relative; 
  overflow:hidden;
  cursor:pointer;
}
.window > .slideBox{
  display:flex;
  transition:all .3s;
}
.window > .slideBox > .slidePic{
}

.window > .dotsBox{
  display:flex;
  transition:transform .3s;
	position: absolute;
	width: 328px;
	bottom: 10px;
	left: 50%;
	margin-left: -150px;
  z-index:2;
}
.window > .dotsBox > .dot{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 1px solid #ccc;
	background: rgba(102,102,102,.7);
	margin: 0 12px;	
	transition: transform .5s;	
	cursor: pointer;
}

.window > .dotsBox > .dot.active{
	transform: scale(1.3);
}
.window > .nextBtn,
.window > .previousBtn{
  display: inline-block;
  position: absolute;
  top: 50%;
  padding: 50px 15px;
  background: rgba(0,0,0,.2);
  margin-top: -65px; 
  z-index: 2;

}
.window > .nextBtn{
  right: 0;
}
.window > .previousBtn{
  left: 0;
  transform: rotate(180deg);
}
